[submodule "plugins/vim-pathogen"]
	path = plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/supertab"]
	path = plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugins/vim-airline-themes"]
	path = plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "plugins/vim-multiple-cursors"]
	path = plugins/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "plugins/SrcExpl"]
	path = plugins/SrcExpl
	url = https://github.com/wesleyche/SrcExpl.git
[submodule "plugins/Trinity"]
	path = plugins/Trinity
	url = https://github.com/wesleyche/Trinity.git
[submodule "plugins/vim-commentary.git"]
	path = plugins/vim-commentary.git
	url = https://github.com/tpope/vim-commentary.git
[submodule "plugins/vim-mark"]
	path = plugins/vim-mark
	url = https://github.com/breeze101792/vim-mark.git
[submodule "plugins/ingo-library"]
	path = plugins/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "plugins/vim-cpp-enhanced-highlight"]
	path = plugins/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
