[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "plugins/supertab"]
	path = plugins/supertab
	url = https://github.com/ervandew/supertab.git
	branch = master
[submodule "plugins/vim-multiple-cursors"]
	path = plugins/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	branch = master
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
[submodule "plugins/vim-cpp-enhanced-highlight"]
	path = plugins/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
	branch = master
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	branch = master
[submodule "plugins/vim-bookmarks"]
	path = plugins/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
	branch = master
[submodule "plugins/OmniCppComplete"]
	path = plugins/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
	branch = master
[submodule "plugins/cctree"]
	path = plugins/cctree
	url = https://github.com/hari-rangarajan/CCTree.git
	branch = master
[submodule "plugins/gitgutter"]
	path = plugins/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = main
[submodule "plugins/srcexpl"]
	path = plugins/srcexpl
	url = https://github.com/breeze101792/SrcExpl.git
	branch = master
[submodule "plugins/vim-plug"]
	path = plugins/vim-plug
	url = https://github.com/junegunn/vim-plug.git
	branch = master
[submodule "plugins/vim-mark"]
	path = plugins/vim-mark
	url = https://github.com/inkarkat/vim-mark.git
	branch = master
[submodule "plugins/vim-surround"]
	path = plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "plugins/vim-ingo-library"]
	path = plugins/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
	branch = master
[submodule "plugins/lightline.vim"]
	path = plugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
	branch = master
[submodule "plugins/tabular"]
	path = plugins/tabular
	url = https://github.com/godlygeek/tabular.git
	branch = master
[submodule "plugins/bufexplorer"]
	path = plugins/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
	branch = master
[submodule "plugins/Colorizer"]
	path = plugins/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
	branch = master
[submodule "plugins/vim-easygrep"]
	path = plugins/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
	branch = master
[submodule "plugins/vim-python-pep8-indent"]
	path = plugins/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
	branch = master
[submodule "plugins/ale"]
	path = plugins/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "plugins/tcomment"]
	path = plugins/tcomment
	url = https://github.com/breeze101792/tcomment_vim.git
	branch = master
[submodule "plugins/QFEnter"]
	path = plugins/QFEnter
	url = https://github.com/yssl/QFEnter.git
	branch = master
[submodule "plugins/nvim-lspconfig"]
	path = plugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
	branch = master
[submodule "plugins/cscope_maps.nvim"]
	path = plugins/cscope_maps.nvim
	url = https://github.com/breeze101792/cscope_maps.nvim.git
	branch = xcscope
